body, h1, h2, h3, p, figure, ul, li {
    margin: 0;
    padding: 0;
}

body {
    min-height: 2000px; 
    padding-top: 57px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

.p-3 { 
    margin-top: 20% !important;
}


.header-container {
    background-color: #2040C4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_logo img {
    width: 100px;
    height: 100px;
}

.header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-nav__Ul {
    list-style: none;
    display: flex;
}

.header-nav__Menu {
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-nav__Menu a {
    text-decoration: none;
    color: #fff;
}

.header-nav__Menu:hover {
    color: #ffc107;
}

.header-nav__Button {
    display: none;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

#cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 12px;
}

.package-item {
    transition: transform 0.3s ease; 
}

.package-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.text-white-50 a {
    text-decoration: none; 
    color: rgba(255, 255, 255, 0.5); 
  }
  
  .text-white-50 a:hover {
    text-decoration: underline; 
    color: white; 
  }


@media (max-width: 700px) {
    .mostrarmovil{
        display: block;
    }
    .header-container {
        flex-direction: column;
        align-items: center;
    }
    

    .header-nav {
        flex-direction: column;
        align-items: center;
    }

    .header-nav__Ul {
        flex-direction: column;
        text-align: center;
    }

    .header-nav__Menu {
        margin: 10px 0;
    }

    .header-nav__Button {
        display: block;
    }
}
